#!/usr/bin/env bash

# Ensure you copy this file to 'environment.sh' in this directory, and
# change it to match your own stream configuration.

export ASTEROID_STREAM_URL='http://localhost:8080'

# source this file prior to starting the asteroid containers. Set the
# DB name and access params here.

export ASTEROID_DB_NAME=asteroid
export ASTEROID_DB_USER=asteroid
export ASTEROID_DB_PASSWORD=asteroid_db_2025
